
@{
    ViewBag.Title = "Success";
}

<h3>Success</h3>
<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>Success</li>
</ul>
<div class="row">
    <div class="col-sm-12 alert">
        <div class="alert-success text-center">
            Success
        </div>
    </div>
</div>

